<%- include("navbar.ejs")%>

    <form action="/admin/update_why_choose_us_points" method="post" enctype="multipart/form-data">
        <div class="container-fluid p-3 bg-white">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center mb-4">
                    <h3>Update Why Choose us Points </h3>
                </div>
                <div class="col-md-6 mb-3">
                    <input type="hidden" name="wcup_id" value="<%=wcup[0].wcup_id%>" >
                    Name :
                    <input type="text" name="wcup_name" value="<%=wcup[0].wcup_name%>" class="form-control">
                </div>
                <div class="col-md-4 mb-3">
                    Image :
                    <input type="file" name="wcup_image" class="form-control" id="">
                </div>
                <div class="col-md-2">
                    <img src="/uploads/<%=wcup[0].wcup_image%>" width="35%" alt="">
                </div>
                <div class="col-md-12 mb-3">
                    Details :
                    <textarea name="wcup_details" class="form-control" rows="2"><%=wcup[0].wcup_details%></textarea>
                </div>
                <div class="col-md-12 mb-3 text-center">
                    <button class="btn btn-primary">Update </button>
                </div>
            </div>
        </div>
    </form>
    <br><br>


    <%- include("footer.ejs")%>