<%- include("navbar.ejs")%>
<div class="hero">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="container-lg px-4 mt-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <!-- Account details card-->
                            <div class="card mb-4">
                                <div class="card-header">Update Profile</div>
                                <div class="card-body">
                                    <form action="/update_profile" method="post">
                                        <!-- Form Group (username)-->
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputUsername">Name : </label>
                                            <input class="form-control" name="c_name" type="text" placeholder="Enter your Name" value="<%=user[0].c_name%>">
                                        </div>
                                        <!-- Form Row-->
                                        <!-- <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="inputFirstName">First name</label>
                                                <input class="form-control" id="inputFirstName" type="text"
                                                    placeholder="Enter your first name" value="Valerie">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="inputLastName">Last name</label>
                                                <input class="form-control" id="inputLastName" type="text"
                                                    placeholder="Enter your last name" value="Luna">
                                            </div>
                                        </div> -->

                                        <!-- Form Row        -->
                                        <!-- <div class="row gx-3 mb-3">
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="inputOrgName">Organization name</label>
                                                <input class="form-control" id="inputOrgName" type="text"
                                                    placeholder="Enter your organization name" value="Start Bootstrap">
                                            </div>
                                            <div class="col-md-6">
                                                <label class="small mb-1" for="inputLocation">Location</label>
                                                <input class="form-control" id="inputLocation" type="text"
                                                    placeholder="Enter your location" value="San Francisco, CA">
                                            </div>
                                        </div> -->
                                        <!-- Form Group (email address)-->
                                        <div class="mb-3">
                                            <label class="small mb-1" for="inputEmailAddress">Email address</label>
                                            <input class="form-control" name="c_email" type="email"
                                                placeholder="Enter your email address" value="<%=user[0].c_email%>">
                                        </div>
                                        <!-- Form Row-->
                                        <div class="row gx-3 mb-3">
                                            <!-- Form Group (phone number)-->
                                            <div class="col-md-12">
                                                <label class="small mb-1" for="inputPhone">Phone number</label>
                                                <input class="form-control" name="c_mobile" type="tel"
                                                    placeholder="Enter your phone number" value="<%=user[0].c_mobile%>">
                                            </div>
                                            <!-- Form Group (birthday)-->
                                            <!-- <div class="col-md-6">
                                                <label class="small mb-1" for="inputBirthday">Birthday</label>
                                                <input class="form-control" id="inputBirthday" type="text" name="birthday"
                                                    placeholder="Enter your birthday" value="06/10/1988">
                                            </div> -->
                                        </div>
                                        <!-- Save changes button-->
                                        <button class="btn btn-primary">Save changes</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                CSS code
            </div>
        </div>
    </div>
</div>

<%-include("footer.ejs")%>