<%- include("navbar.ejs") %>

<!-- Start Hero Section -->
<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1 class="burn">
                        <%=banner_info.banner_title%> 
                    </h1>
                    <p class="mb-4">
                        <%=banner_info.banner_details%>
                    </p>
                    <p><a href="/shop" target="_blank" class="btn btn-secondary me-2">Shop Now</a>
                        <a href="/shop"
                            class="btn btn-white-outline">Explore</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero-img-wrap">
                    <img src="/uploads/<%=banner_info.banner_image%>" class="img-fluid" alt="">
                    <!-- <img src="images/couch.png" class="img-fluid"> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Section -->

<!-- Start Product Section -->
<div class="product-section">
    <div class="container">
        <div class="row">
            <!-- Start Column 2 -->
            
            <% for(let i=0; i<product.length; i++){
                var imgs = product[i].product_image.split("~");
                    var img = "";
                    for (var j =0; j<imgs.length;j++){
                        if(imgs[j] != ''){
                            img = imgs[j];
                            break;
                        }
                    }
                %>
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" href="/product_info/<%=product[i].product_id%>">
                    <img src="/uploads/<%=img%>" class="img-fluid product-thumbnail">
                    <h3 class="product-title"><%=product[i].product_name%></h3>
                    <strong class="product-price">&#8377 <%=product[i].product_price%></strong>

                    <span class="icon-cross">
                        <img src="images/cross.svg" class="img-fluid">
                    </span>
                </a>
            </div>
            <%}%>
            <!-- End Column 2 -->
        </div>
    </div>
</div>
<!-- End Product Section -->

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title"><%=wcu_info.wcu_heading%></h2>
                <p><%=wcu_info.wcu_details%></p>
                <div class="row my-5">
                    <% for(let i=0; i<wcup.length; i++){%> 
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="/uploads/<%=wcup[i].wcup_image%>" alt="Image" class="imf-fluid">
                            </div>
                            <h3><%=wcup[i].wcup_name%></h3>
                            <p><%=wcup[i].wcup_details%></p>
                        </div>
                    </div>

                    <%}%>

                </div>
            </div>
            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="images/why-choose-us-img.jpg" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<!-- Start We Help Section -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1"><img src="/uploads/<%=modern_data.image1%>" alt="Untree.co"></div>
                    <div class="grid grid-2"><img src="/uploads/<%=modern_data.image2%>" alt="Untree.co"></div>
                    <div class="grid grid-3"><img src="/uploads/<%=modern_data.image3%>" alt="Untree.co"></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4"><%=modern_data.heading%></h2>
                <p><%=modern_data.details%></p>

                <ul class="list-unstyled custom-list my-4">
                    <li>
                        <%=modern_data.key_point1%>
                    </li>
                    <li>
                        <%=modern_data.key_point2%>
                    </li>
                    <li>
                        <%=modern_data.key_point3%>
                    </li>
                    <li>
                        <%=modern_data.key_point4%>
                    </li>
                </ul>
                <p><a href="/shop" class="btn">Explore</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End We Help Section -->

<!-- Start Popular Product -->
<div class="popular-product">
    <div class="container">
        <div class="row">

            <% for(let i=0; i<3; i++){
                 var imgs = product[i].product_image.split("~");
                    var img = "";
                    for (var j =0; j<imgs.length;j++){
                        if(imgs[j] != ''){
                            img = imgs[j];
                            break;
                        }
                    }
                %>
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="/uploads/<%=img%>" alt="Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3><%=product[i].product_name%></h3>
                        <p><%=product[i].product_details%> </p>
                        <p><a href="/shop">Read More</a></p>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
</div>
<!-- End Popular Product -->

<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Testimonials</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">

                        <% for(let i=0; i<testimonial.length; i++){%>
                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo; <%=testimonial[i].c_message%> &rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="/uploads/<%=testimonial[i].c_image%>" alt="Maria Jones" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold"><%=testimonial[i].c_name%></h3>
                                            <span class="position d-block mb-3"><%=testimonial[i].c_position%></span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <%}%>
                        <!-- END item -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->

<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <h2 class="section-title">Recent Blog</h2>
            </div>
            <div class="col-md-6 text-start text-md-end">
                <a href="/blog" class="more">View All Posts</a>
            </div>
        </div>

        <div class="row">

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="images/post-1.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">First Time Home Owner Ideas</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 19, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="images/post-2.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">How To Keep Your Furniture Clean</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
                <div class="post-entry">
                    <a href="#" class="post-thumbnail"><img src="images/post-3.jpg" alt="Image" class="img-fluid"></a>
                    <div class="post-content-entry">
                        <h3><a href="#">Small Space Furniture Apartment Ideas</a></h3>
                        <div class="meta">
                            <span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 12, 2021</a></span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Blog Section -->


<%- include("footer.ejs") %>
