<%- include("navbar.ejs") %>


<% if(product){
    var imgs = product.product_image.split('~');
    var img = '';
    for(var j=0; j<imgs.length; j++){
        if(imgs[j] != ''){
            img = imgs[j];
            break;
        }
    } %>

<section class="py-5">
    <div class="container">
        <div class="row gx-5">
            <aside class="col-lg-6">
                <div class="border rounded-4 mb-3 d-flex justify-content-center">
                    <a data-fslightbox="mygalley" class="rounded-4" target="_blank" data-type="image"
                        href="/uploads/<%=img%>">
                        <img style="max-width: 100%; max-height: 100vh; margin: auto;" class="rounded-4 fit"
                            src="/uploads/<%=img%>"/>
                    </a>
                </div>
                <div class="d-flex justify-content-center mb-3">
                    <% for(let i=0; i<imgs.length; i++){
                        if(imgs[i] != '')
                        {
                            %>
                    <a data-fslightbox="mygalley" class="border mx-1 rounded-2" target="_blank" data-type="image"
                        href="/uploads/<%=imgs[i]%>" class="item-thumb">
                        <img width="60" height="60" class="rounded-2"
                            src="/uploads/<%=imgs[i]%>" />
                    </a>
                    <%}
                } %>
                </div>
               
            </aside>
            <main class="col-lg-6">
                <div class="ps-lg-3">
                    <h4 class="title text-dark">
                        <%=product.product_name%>
                    </h4>
                    <div class="d-flex flex-row my-3">
                        <div class="text-warning mb-1 me-2">
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star checked"></span>
                            <span class="fa fa-star"></span>
                            <span class="fa fa-star"></span>
                            <span class="ms-1">
                                4.5
                            </span>
                        </div>
                        <span class="text-muted"><i class="fas fa-shopping-basket fa-sm mx-1"></i>154 orders</span>
                        <span class="text-success ms-2">In stock</span>
                    </div>

                    <div class="mb-3">
                        <small><del>&#8377; <%= product.duplicate_price %></del></small>
                        <span class="h5">&nbsp; &#8377; <%= product.product_price %></span>
                        <span class="text-muted">/-</span>
                    </div>

                    <p>
                        <%= product.product_details %>
                    </p>

                    <div class="row">
                        <dt class="col-3">Type : </dt>
                        <dd class="col-9"><%= product.product_type_name %></dd>

                        <dt class="col-3">Color : </dt>
                        <dd class="col-9">
                            <div class="d-inline-block p-3 " style="border-radius: 50%;background-color:<%= product.product_color %>"></div>
                        </dd>

                        <dt class="col-3">Product Size : </dt>
                        <dd class="col-9"><%=product.product_size%></dd>

                        <!-- <dt class="col-3">Brand</dt>
                        <dd class="col-9">Reebook</dd> -->
                    </div>

                    <hr />

                    <!-- <div class="row mb-4">
                        <div class="col-md-4 col-6">
                            <label class="mb-2">Size</label>
                            <select class="form-select border border-secondary" style="height: 35px;">
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                            </select>
                        </div> -->

                        <!-- col.// -->
                        <!-- <div class="col-md-4 col-6 mb-3">
                            <label class="mb-2 d-block">Quantity</label>
                            <div class="input-group mb-3" style="width: 170px;">
                                <button class="btn btn-white border border-secondary px-3" type="button"
                                    id="button-addon1" data-mdb-ripple-color="dark">
                                    <i class="fa fa-plus"></i>
                                </button>
                                <input type="text" class="form-control text-center border border-secondary"
                                    placeholder="14" aria-label="Example text with button addon"
                                    aria-describedby="button-addon1" />
                                <button class="btn btn-white border border-secondary px-3" type="button"
                                    id="button-addon2" data-mdb-ripple-color="dark">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div> -->
                    <!-- <a href="#" class="btn btn-warning shadow-0"> Buy now </a> -->

                    <% if(!in_cart)
                    {%>
                    <a href="/add_to_card/<%=product.product_id%>" class="btn btn-primary shadow-0">
                         <i class="me-1 fa fa-shopping-basket"></i> Add to Cart
                    </a>
                    <%}else{%>
                            <a href="/cart" class="btn btn-primary shadow-0">
                                <i class="me-1 fa fa-shopping-basket"></i> Go to Cart
                            </a>
                        <%}%>
                    
                </div>
            </main>
        </div>
    </div>
</section>
<br><br>

<% } %>


<%- include("footer.ejs") %>